
html, body {
  height: 100%;
}

.text-editor {
    min-height: 300px;
}

.tut-result-frame {
	width: 100%;
	min-height: 300px;
	border: 1px solid #eee;
}

.tut-result-frame-dark {
  border: 1px solid #555;
}

.task-content {
	background-color: #efefef;
	padding: 20px;
	height: 270px !important;
	width: 100% !important;
	margin-left: 0 !important;
  display: block !important;
  position: relative;
  overflow: auto;
}

.task-content h1 {
  font-size: 20px;
}

.task-content h2 {
  font-size: 18px;
}

.task-content h3 {
  font-size: 15px;
}

.navbar {
	margin-bottom: 0px;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2000;
}

.preloader h1 {
  text-align: center;
  margin-top: 30%;
}

.light-skin {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.dark-skin {
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 1px solid #aaa;
}

.body-dark {
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
  color: #fff;
}

.modal-dark {
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
}

.modal-dark,
.body-dark,
.task-content-dark,
.modal-dark .modal-footer {
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
}