html, body {
  height: 100%;
}

body {
  background-image: url(../images/ng-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tut-result-frame {
	width: 100%;
	height: 100%;
  background-color: #fff;
}

.tut-result-frame-dark {
  border: 1px solid #555;
}

.row-fluid .task-content {
	background-color: #efefef;
	padding: 20px;
	height: 80%;
	width: 100%;
	margin-left: 0;
  display: block;
  position: relative;
  overflow: auto;
}

.task-content h1 {
  font-size: 20px;
}

.task-content h2 {
  font-size: 18px;
}

.task-content h3 {
  font-size: 15px;
}

.navbar {
	margin-bottom: 15px;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.99);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
}

.preloader h1 {
  text-align: center;
  font-family: times;
  margin-top: 10%;
}

.light-skin {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.dark-skin {
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 1px solid #aaa;
}

.modal-dark,
.task-content-dark,
.modal-dark .modal-footer,
.dropdown-menu-dark {
  background: #000;
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
}

.body-dark {
  background-color: #222;
  color: #ccc;
}

.module-container {
  background: #000;
  background-color: rgba(0, 0, 0, 0.1);
  height: 45%;
  border-radius: 5px;
  opacity: 0.94;
  z-index: 0;
  margin-bottom: 10px;
}

.module-container h3 {
  text-align: center;
}

.body-dark .main-content {
  background-color: rgba(255, 255, 255, 0.1);
}

.tutorial-tag {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 0.8em;
  color: #999;
  margin-left: 5px;
}

.tutorial-select-row {
  cursor: pointer;
}

.body-dark .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #444;
}

.preloader.ng-hide-add, .preloader.ng-hide-remove {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  display:block;
}

.preloader.ng-hide-add.ng-hide-add-active,
.preloader.ng-hide-remove {
  opacity:0;
}

.preloader.ng-hide-add,
.preloader.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.editor-container {
  background-color: rgba(255,255,255,0.8);
}

.body-dark .editor-container {
  background-color: rgba(0,0,0,0.8);
}

.row-fluid [class*="span"] {
  margin-left: 0;
  margin-right: 1%;
}


.text-editor,
.frame-container {
    height: 90%;
}

.body-dark .panel-extended {
  background-color: #444;
}

.main-wrapper, .inner-wrapper, .inner-column {
  height: 100%;
}

.panel-extended {
  width: 100%;
  height: 340px;
  position: absolute;
  left: 0px;
  z-index: 200;
  background-color: #ccc;
  opacity: 1;
}


.panel-extend-header {
  cursor: pointer;
}

.panel-extend-header,
.section-header {
  height: 10%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

#footer {
 background-color: #f5f5f5;
 text-align: center;
 padding: 5px;
}

.body-dark #footer {

}