
html, body {
  height: 100%;
}

body {
  background-image: url(../images/ng-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text-editor {
    min-height: 300px;
}

.tut-result-frame {
	width: 100%;
	min-height: 300px;
	border: 1px solid #eee;
  background-color: #fff;
}

.tut-result-frame-dark {
  border: 1px solid #555;
}

.task-content {
	background-color: #efefef;
	padding: 20px;
	height: 270px !important;
	width: 100% !important;
	margin-left: 0 !important;
  display: block !important;
  position: relative;
  overflow: auto;
}

.task-content h1 {
  font-size: 20px;
}

.task-content h2 {
  font-size: 18px;
}

.task-content h3 {
  font-size: 15px;
}

.navbar {
	margin-bottom: 0px;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2000;
}

.preloader h1 {
  text-align: center;
  font-family: times;
  margin-top: 10%;
}

.light-skin {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.dark-skin {
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 1px solid #aaa;
}

.modal-dark {
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
}

.modal-dark,
.task-content-dark,
.modal-dark .modal-footer,
.dropdown-menu-dark {
  background: rgba(26,26,26,1);
  background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,26,26,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000', GradientType=0 );
}

.body-dark {
  background-color: #222;
  color: #ccc;
}

.module-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  border-radius: 5px;
  opacity: 0.975;
  z-index: 0;
}

.module-container h3 {
  text-align: center;
}

.body-dark .main-content {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu-dark {
  color: #fff;
}

.dropdown-menu-dark a {
  color: #ccc !important;
}

.dropdown-menu-dark:after {
  visibility: hidden;
}

.tutorial-tag {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 0.8em;
  color: #999;
  margin-left: 5px;
}

.tutorial-select-row {
  cursor: pointer;
}

.body-dark .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #444;
}

.preloader.ng-hide-add, .preloader.ng-hide-remove {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  display:block!important;
}

.preloader.ng-hide-add.ng-hide-add-active,
.preloader.ng-hide-remove {
  opacity:0;
}

.preloader.ng-hide-add,
.preloader.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}