<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ng-tutorial</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bower_components/bootstrap-sass/bootstrap-responsive-2.3.2.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="ngTutorialApp" ng-controller="MainCtrl">

    <div class="preloader" ng-hide="ready">
        <h1>Loading...</h1>
    </div>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="javascript:void(0)"><img src="images/ng-logo-small.png" /> ng-tutorial</a>
        <ul class="nav" role="menu">
            <li>
                <a href="javascript:void(0)" data-target="#select-tutorial" role="button" data-toggle="modal" href="#">Tutorials</a>
            </li>
            <li><a href=""><div class="dark-skin" tut-toggle-skin="dark" ng-click="setSkin('dark')"></div></a></li>
            <li><a href=""><div class="light-skin" tut-toggle-skin="light" ng-click="setSkin('light')"></div></a></li>
        </ul>
      </div>
    </div>
    <div class="bs-docs-grid main-wrapper" ng-controller="TutorialCtrl">
      <div class="row-fluid show-grid inner-wrapper">
        <div class="span6 inner-column">
            <div class="module-container">
                <h3 tut-extend-editor class="section-header">JavaScript</h3>
                <div tut-editor="javascript" tut-value="js"></div>
            </div>
            <div class="module-container">
                <h3 class="section-header">Tutorial</h3>
                <div id="step-content" class="span6 task-content" ng-bind-html="stepContent">
                </div>
                <div class="btn-group">
                    <button ng-class="( skin=='dark' ) ? 'btn-inverse' : ''" class="btn" ng-repeat="step in tutorial.steps" ng-bind="$index + 1" ng-click="gotoStep(step)"></button>
                </div>
                <button class="btn" ng-show="tutorial" data-target="#view-solution-confirm" role="button" data-toggle="modal">View Solution</button>
            </div>
        </div>
        <div class="span6 inner-column">
            <div class="module-container">
                <h3 tut-extend-editor class="section-header">HTML</h3>
                <div tut-editor="html" tut-value="html"></div>
            </div>
            <div class="module-container">
                <h3 class="section-header">Result</h3>
                <div class="frame-container" tut-result tut-result-js="js" tut-result-html="html"></div>
            </div>
        </div>
      </div>
        <div id="view-solution-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Lost of changes</h3>
          </div>
          <div class="modal-body">
            <p>All your changes will be lost, are you sure you want to continue?</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <button class="btn btn-primary" data-dismiss="modal" ng-click="viewSolution()">Yes</button>
          </div>
        </div>
    </div>

    <div id="select-tutorial" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Tutorials List</h3>
      </div>
      <div class="modal-body">
        <form class="form-search">
          <div class="input-append">
            <input type="text" class="span2 search-query" style="width: 425px" ng-model="tutorialFilter">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
        <table class="table table-hover">
            <tr ng-repeat="tutorial in tutorials | filter: tutorialFilter" class="tutorial-select-row" data-dismiss="modal">
                <td ng-click="startTutorial(tutorial.id)">
                    <h5 ng-bind="tutorial.title"></h5>
                    <p class="muted">
                        <span ng-bind="tutorial.description"></span>
                        <div class="muted">
                            <span style="font-size: 0.8em;">Level:</span>
                            <span ng-switch="tutorial.level">
                                <span ng-switch-when="beginner">
                                    <i class="icon-star-empty"></i>
                                </span>
                                <span ng-switch-when="intermediate">
                                    <i class="icon-star-empty"></i><i class="icon-star-empty"></i>
                                </span>
                                <span ng-switch-when="advanced">
                                    <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>
                                </span>
                            </span>
                        </div>
                    </p>
                    <div ng-show="tutorial.tags.length > 0">
                        <i class="icon-tags"></i>
                        <span class="tutorial-tag" ng-repeat="tag in tutorial.tags" ng-bind="tag"></span>
                    </div>
                </td>
            </tr>
        </table>
      </div>
    </div>


        <script src="bower_components/ace-builds/src-min/ace.js"></script>
        <script src="bower_components/ace-builds/src-min/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
        <script src="bower_components/ace-builds/src-min/mode-html.js" type="text/javascript" charset="utf-8"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/showdown/compressed/showdown.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/MainCtrl.js"></script>
        <script src="scripts/directives/tutEditor.js"></script>
        <script src="scripts/directives/tutUpdateResult.js"></script>
        <script src="scripts/services/Config.js"></script>
        <script src="scripts/services/TutorialsCollection.js"></script>
        <script src="scripts/services/StepsCollection.js"></script>
        <script src="scripts/services/Req.js"></script>
        <script src="scripts/filters/showdown.js"></script>
        <script src="scripts/controllers/TutorialCtrl.js"></script>
        <script src="scripts/directives/tutToggleSkin.js"></script>
        <script src="scripts/services/LocalStorage.js"></script>
        <script src="scripts/directives/tutExtendEditor.js"></script>
        <!-- endbuild -->
</body>
</html>
